In [1]:
import pymysql

In [5]:
conn = pymysql.connect(host='127.0.0.1', user='root', password='00000000',
                      db='soloDB', charset='utf8')

In [6]:
cur = conn.cursor()

In [7]:
cur.execute("create table userTable (id char(4), userName char(15), email char(20), birthYear int)")

0

In [8]:
cur.execute("insert into userTable values ('hong', '홍지윤', 'hong@naver.com', 1996)")
cur.execute("insert into userTable values ('kim', '김태연', 'kim@daum.com', 2011)")
cur.execute("insert into userTable values ('star', '별사랑', 'star@paran.com', 1990)")
cur.execute("insert into userTable values ('yang', '양지은', 'yang@gmail.com', 1993)")

1

In [10]:
conn.commit()

In [11]:
conn.close()

In [16]:
import pymysql

# 전역변수 선언부
conn, cur = None, None
data1, data2, data3, data4 = '', '', '', ''
sql = ''

# 메인 코드
conn = pymysql.connect(host='127.0.0.1', user='root', password='00000000',
                      db = 'soloDB', charset='utf8')
cur = conn.cursor()

while (True) :
    data1 = input('사용자 ID ==> ')
    if data1 == '':
        break;
    data2 = input('사용자 이름 ==> ')
    data3 = input('사용자 이메일 ==> ')
    data4 = input('사용자 출생연도 ==> ')
    sql = "insert into userTable values('" + data1 + "', '" + data2 + "', '" + data3 + "', " + data4 + ")"
    cur.execute(sql)
    
conn.commit()
conn.close()

사용자 ID ==> su
사용자 이름 ==> 수지
사용자 이메일 ==> suji@hanbit.com
사용자 출생연도 ==> 1994
사용자 ID ==>

In [17]:
import pymysql

# 전역변수 선언부
conn, cur = None, None
data1, data2, data3, data4 = '', '', '', ''
row = None

# 메인 코드
conn = pymysql.connect(host='127.0.0.1', user='root', password='00000000',
                      db = 'soloDB', charset='utf8')
cur = conn.cursor()

cur.execute("select * from userTable")

print('사용자ID  사용자이름  이메일  출생연도')
print('------------------------------')

while (True):
    row = cur.fetchone()
    if row == None:
        break
    data1 = row[0]
    data2 = row[1]
    data3 = row[2]
    data4 = row[3]
    print("%5s  %15s  %20s  %d" % (data1, data2, data3, data4))
    
conn.close()

사용자ID  사용자이름  이메일  출생연도
------------------------------
 hong              홍지윤        hong@naver.com  1996
  kim              김태연          kim@daum.com  2011
 star              별사랑        star@paran.com  1990
 yang              양지은        yang@gmail.com  1993
   su               수지       suji@hanbit.com  1994